page-quotes {
    .author {
        color: #ccc;
        text-align: right;
        text-transform: uppercase;
        margin: 0px;
        padding: 0px;
    }

    .author:before {
        content: '- ';
    }
}
